In [1]:
import numpy as np 
import matplotlib.pyplot as plt

## Exercise 1

In [2]:
class Astro:
    def __init__(self, v1, l1):
        self.v1 = v1
        self.l1 = l1
        self.G = 6.6738*(10**-11)
        self.M = 1.9891*(10**30)
        
    def find_v2(self):
        a = 1
        b = (-2*self.G*self.M)/(self.v1*self.l1)
        c = -(self.v1**2-(2*self.G*self.M)/(self.l1))
        s1 = (-b + np.sqrt(b**2-4*a*c))/(2*a)
        s2 = (-b - np.sqrt(b**2-4*a*c))/(2*a)   
        
        return min(s1,s2)
    
    def find_l2(self):
        return (self.l1 * self.v1)/self.find_v2()
    
    def find_a(self):
        return 0.5*(self.l1+self.find_l2())
    
    def find_b(self):
        return np.sqrt(self.l1*self.find_l2())
        
    def find_T(self):
        return (2*np.pi*self.find_a()*self.find_b())/(self.l1*self.v1)
        
    def find_e(self):
        return (self.find_l2() - self.l1)/(self.find_l2() + self.l1)

In [3]:
terra = Astro(3.0287*(10**4), 1.4710*(10**11))

In [4]:
print("V2 ", terra.find_v2())
print("L2 ", terra.find_l2())
print("a ", terra.find_a())
print("b ", terra.find_b())
print("T ", terra.find_T())
print("e ", terra.find_e())

V2  29305.399177261148
L2  152027197208.66058
a  149563598604.3303
b  149543307136.74207
T  31543060.20788706
e  0.016471913134744297

In [5]:
halley = Astro(5.4529*(10**4), 8.7830*(10**10))

In [6]:
print("V2\t", halley.find_v2())
print("L2\t", halley.find_l2())
print("a\t", halley.find_a())
print("b\t", halley.find_b())
print("T\t", halley.find_T())
print("e\t", halley.find_e())

V2	 906.6806969191493
L2	 5282214660876.441
a	 2685022330438.2207
b	 681129146098.431
T	 2399312511.8451877
e	 0.9672889126454061

## Exercise 2

In [7]:
def catalan(c0, n):
    
    if c0 > 10**6:
        return ""
    print(c0)
    catalan((4*n+2)/(n+2)*c0, n+1)

In [8]:
catalan(1, 0)

1
1.0
2.0
5.0
14.0
42.0
132.0
429.0
1430.0
4862.0
16796.0
58786.0
208012.0
742900.0

## Exercise 3

In [13]:
def madelung(L):
    sum = []
    for j in range (-L,L+1):
        for i in range(-L,L+1):
            for k in range(-L,L+1):
                if i == j == k == 0:
                    pass
                elif (j + i + k)%2 == 0:
                    sum.append(1/np.sqrt(i**2+j**2+k**2))
                else:
                    sum.append(-1/np.sqrt(i**2+j**2+k**2))
    return np.sum(sum)

In [14]:
madelung(100)

-1.7418198158362386

## Exercise 4

In [26]:
def binomial(n, k):
    if k == 0:
        return 1
    else:
        return int((np.math.factorial(n))/(np.math.factorial(k)*np.math.factorial(n-k)))

In [27]:
binomial(10,0)

1

In [28]:
binomial(10,5)

252

In [43]:
def Pascal(L):
    for i in range(1, L+1):
        string = " "*(L-i)
        for j in range(i+1):
            string += " " + str(binomial(i, j))
        print(string)

In [48]:
Pascal(5)

     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
 1 5 10 10 5 1

In [49]:
print(binomial(100, 60)/2**100)

0.010843866711637987

In [56]:
sum = 0
for i in range(60,101):
    sum += binomial(100, i)/2**100
print(sum)

0.028443966820490392

## Exercise 5

In [65]:
def primos(start, stop):
    lista = [2]
    for n in range(start, stop+1):
        for primo in lista:
            if primo > np.sqrt(n):
                lista.append(n)
                break
            elif n%primo == 0:
                break

    return lista

In [68]:
print(primos(3,1000))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [69]:
len(primos(3,1000))

168

## Exercise 6

In [81]:
def catalan2(n):
    if n == 0:
        return 1
    else:
        return int((4*n-2)/(n+1) * catalan2(n-1))

In [87]:
catalan2(10)

16796

In [89]:
def mdc(m,n):
    if n == 0:
        return m
    else:
        return mdc(n, m%n)

In [90]:
mdc(108,192)

12

### End of sheet 1